@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

.button-container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 7px;
}